/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
	font-family: 'Josefin Sans';
}

thead {
	font-size: 20px;
}

.sub-th {
	font-size: 12px;
}

.mod_metrics {
	font-size: 13px;
	margin-left: 10px;
	&:hover {
		cursor: pointer;
	}
}

.no-highlight {
	color: #000000;
	&:hover {
		color: #000000;
		text-decoration: none;
	}
}

.fa-plus-circle, .fa-minus-circle {
	font-size: 13px;
}

.fa-check-circle {
	visibility: none;
}

.fa-video-camera {
	font-size: 13px;
	margin-right: 10%;
	float: right;
}

.navbar-brand {
	font-size: 25px;
}

.info-ability, .info-endurance {
	font-size: 13px;
}

.tagline {
	font-size: 40px;
}

.tagline_desc {
	font-size: 20px;
}

.quote {
	float: left;
}

.devise_pages {
	border-left: solid 1px #DDDDDD;
	border-right: solid 1px #DDDDDD;
	text-align: center;
	font-size: 17px;
	margin-top: 10%;
}

.session_links {
	font-size: 13px;
}

td {
	vertical-align: middle !important;
}

footer {
	margin-top: 10px;
	background-color: white;
}

.footer-row {
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-top: solid 1px #DDDDDD;
}

