<footer class="footer">
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 footer-row'>
      <span>&copy; Rudimentor 2015. All rights Reseved </span>
      <span>
      	<%= link_to '', 'http://twitter.com/siddhartha_b', target: '_blank', class: 'fa fa-twitter footer-social' %>
      	<%= link_to '', 'mailto:siddharthabhagwan@gmail.com', target: '_blank', class: 'fa fa-envelope footer-social' %>
      </span>
    </div>
  </div>
</footer>
