<header>
	<nav class="navbar navbar-default" role="navigation">
	<div class="col-md-10 col-md-offset-1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<span class="navbar-brand">Rudimentor Me</span>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<% if user_signed_in? %>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <i class="fa fa-user"></i><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<!-- <li><a href="javascript:void(0)">Change Password</a></li> -->
							<!-- <li class="divider"></li> -->
							<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				</ul>
			</div>
		<% end %>
	</nav>
</header>